<h2>Form for editing an existing Trip</h2>

<%= form_with model: @trip, class: "edit-trip" do |f| %>

  <p><%= "Use this form to edit this trip #{@trip.id} info!" %></p>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :driver_id %>
  <%= f.select :driver_id, Driver.all.map { |d| [d.name, d.id] } %>
  
  <%= f.label :passenger_id %>
  <%= f.select :passenger_id, [Passenger.find(Trip.find_by(id: params[:id]).passenger_id).name] %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.label :rating %>
  <%= number_field(:trip, :rating, in: 1..5, step: 1) %>

  <%= f.submit "Edit Trip", class: "trip-form__submit-btn" %>

<% end %>
