<h2>Form for editing an existing Trip</h2>

<%= form_with model: @trip, class: "edit-trip" do |f| %>

  <p><%= "Use this form to edit this trip #{@trip.id} info!" %></p>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :driver_id %>
  <%= f.text_field :driver_id %>
  
  <%= f.label :passenger_id %>
  <%= f.text_field :passenger_id %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.label :rating %>
  <%= number_field(:trip, :rating, in: 1..5, step: 1) %>

  <%= f.submit "Edit Trip", class: "trip-form__submit-btn" %>

<% end %>
