<% if params[:driver_id] %>
  <h2>Existing trips for <%= Driver.find_by(id: params[:driver_id]).name %></h2>
<% end %>

<% if params[:passenger_id] %>
  <h2>Existing trips for <%= Passenger.find_by(id: params[:passenger_id]).name %></h2>
<% end %> 

<ul>
<% @trips.each do |trip| %>
  <li>
    <%= trip.id %>
    <%= trip.date %>
    <%= Driver.find_by(id: trip.driver_id).name %>
    <%= Passenger.find_by(id: trip.passenger_id).name %>
    <%= trip.cost %>
    <%= trip.rating %>
  </li>
<% end %>
</ul>