
<ul>
  <li><%= @trip.id %></li>
  <li><%= @trip.date %></li>
  <li><%= link_to Driver.find_by(id: @trip.driver_id).name, driver_path(id: @trip.driver_id) %></li>
  <li><%= link_to Passenger.find_by(id: @trip.passenger_id).name, passenger_path(id: @trip.passenger_id) %></li>
  <li><%= number_to_currency(@trip.cost / 100.00, precision: 2, unit: "$") %></li>
  <li><%= @trip.rating %></li>
</ul>

<% if params[:passenger_id] %>
  <%= link_to "Edit Trip", edit_passenger_trip_path %>
  <%= link_to "Delete Trip", passenger_trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure?" }%>
<% end %>

<% if params[:driver_id] %>
  <%= link_to "Edit Trip", edit_driver_trip_path %>
  <%= link_to "Delete Trip", driver_trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure?" }%>
<% end %>
