<h2><%= "Trip ##{@trip.id}" %></h2>

<table>
  <tr>
    <th>Trip ID</th>
    <th>Trip Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>

  <tr>
    <td><%= @trip.id %></td>
    <td><%= @trip.date %></td>
    <td>
      <% if Driver.find_by(id: @trip.driver_id).name == "Unknown Driver"%>
        Unknown Driver
      <% else %>
        <%= link_to Driver.find_by(id: @trip.driver_id).name, driver_path(id: @trip.driver_id) %>
      <% end %>
    </td>
    <td>
      <% if Passenger.find_by(id: @trip.passenger_id).name == "Unknown Passenger"%>
        Unknown Passenger
      <% else %>
        <%= link_to Passenger.find_by(id: @trip.passenger_id).name, passenger_path(id: @trip.passenger_id) %>
      <% end %>
    </td>
    <td><%= number_to_currency(@trip.cost / 100.00, precision: 2, unit: "$") %></td>
    <td><%= @trip.rating %></td>
  </tr>
</table>

<footer>
  <button><%= link_to "Edit Trip", edit_passenger_trip_path(@trip.passenger_id) %></button>
  <button><%= link_to "Delete Trip", passenger_trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure?" }%></button>
</footer>

