<ul>
  <li><%= @trip.id %></li>
  <li><%= @trip.date %></li>
  <li><%= link_to Driver.find_by(id: @trip.driver_id).name, driver_path(id: @trip.driver_id) %></li>
  <li><%= link_to Passenger.find_by(id: @trip.passenger_id).name, passenger_path(id: @trip.passenger_id) %></li>
  <li><%= @trip.cost %></li>
  <li><%= @trip.rating %></li>
</ul>

<%= link_to "Edit Trip", edit_trip_path%>
<%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure?" }%>
