<h2>
  <%= @passenger.name %>
</h2>

<h3>
  <%= "Total spending on rides: #{@passenger.total_spent}" %>
</h3>

<p>
  <%= button_to "Request Trip", passenger_trips_path(@passenger.id), method: :post %>
</p>

<h3>
  <% arr = @passenger.phone_num.split("x") %>
  <% str = "" %>
  <% arr[0].each_char { |c| %>
    <% if c =~ /\d/ %>
      <% str << c %>
    <% end %>
  <% } %>
  <% if str.length == 11 %>
    <% str = str[1..10] %>
  <% end %>
  <% if arr.length == 1 %>
    <%= number_to_phone(str, area_code: true, country_code: 1) %>
  <% end %>
  <% if arr.length == 2 %>
    <%= number_to_phone(str, area_code: true, country_code: 1, extension: arr[1]) %>
  <% end %>
</h3>

<ul>
<% trips = Trip.where(passenger_id: @passenger.id) %>
<% if trips %>
  <% trips.each do |trip| %>
    <li>
      <%= link_to trip.id,  passenger_trip_path(@passenger.id, trip.id) %>
      <%= trip.date %>
      <%= Driver.find_by(id: trip.driver_id).name %>
      <%= Passenger.find_by(id: trip.passenger_id).name %>
      <%= trip.cost %>
      <%= trip.rating %>
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to "Back to All Passengers", passengers_path %>

<%= link_to "Edit Passenger", edit_passenger_path(@passenger.id) %>

<%# link_to "Add new trip", new_passenger_trip_path(@passenger.id) %>

<%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete , data: { confirm: "Are you sure?" } %>