<h2>
  <%= @passenger.name %>
</h2>

<h3>
  Total spending on rides: <%= number_to_currency(@passenger.total_spent / 100.00, precision: 2, unit: "$") %>
</h3>

<% unrated_trip = Trip.where(passenger_id: @passenger.id, rating: nil) %>
<% if !unrated_trip.empty? %>
  <%= form_with url: passenger_trip_path(passenger_id: @passenger.id, id: unrated_trip.first.id), method: :patch do |f| %>
    <%= number_field(:trip, :rating, in: 1..5, step: 1) %>
    <%= f.submit "Rate Trip", class: "rate-trip-btn" %>
  <% end %>
<% else %>
  <%= button_to "Request Trip", passenger_trips_path(@passenger.id), method: :post %>
<% end %>


<h3>
  <% arr = @passenger.phone_num.split("x") %>
  <% str = "" %>
  <% arr[0].each_char { |c| %>
    <% if c =~ /\d/ %>
      <% str << c %>
    <% end %>
  <% } %>
  <% if str.length == 11 %>
    <% str = str[1..10] %>
  <% end %>
  <% if arr.length == 1 %>
    <%= number_to_phone(str, area_code: true, country_code: 1) %>
  <% end %>
  <% if arr.length == 2 %>
    <%= number_to_phone(str, area_code: true, country_code: 1, extension: arr[1]) %>
  <% end %>
</h3>

<ul>
<% trips = Trip.where(passenger_id: @passenger.id) %>
<% if trips %>
  <% trips.each do |trip| %>
    <li>
      <%= link_to trip.id,  passenger_trip_path(@passenger.id, trip.id) %>
      <%= trip.date %>
      
      <% if Driver.find_by(id: trip.driver_id).name == "Unknown Driver"%>
        Unknown Driver
      <% else %>
        <%= link_to Driver.find_by(id: trip.driver_id).name, driver_path(id: trip.driver_id) %>
      <% end %>

      <% if Passenger.find_by(id: trip.passenger_id).name == "Unknown Passenger"%>
        Unknown Passenger
      <% else %>
        <%= link_to Passenger.find_by(id: trip.passenger_id).name, passenger_path(id: trip.passenger_id) %>
      <% end %>
      
      <%= number_to_currency(trip.cost / 100.00, precision: 2, unit: "$") %>
      <%= trip.rating %>
      <%= link_to "Edit", edit_passenger_trip_path(passenger_id: @passenger.id, id: trip.id), method: :get %>
      <%= link_to "Delete", passenger_trip_path(passenger_id: @passenger.id, id: trip.id), method: :delete %> 
    </li>
  <% end %>
<% end %>
</ul>


<% if Passenger.find_by(id: @passenger.id).name != "Unknown Passenger"%>
  <%= link_to "Back to All Passengers", passengers_path %>
<% end %>

<%= link_to "Back to All Passengers", passengers_path %>

<% if Passenger.find_by(id: @passenger.id).name != "Unknown Passenger"%>
  <%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete , data: { confirm: "Are you sure?" } %>
<% end %>

