<h2>
  <%= @driver.name %>
</h2>

<h3>
  <%= @driver.vin %>
</h3>

<h3>
  <%= @driver.available %>
</h3>

<h3>
  <%= "Average rating: #{@driver.average_rating}" %>
</h3>

<h3>
  <%= "Total earnings: #{@driver.total_earnings}" %>
</h3>

<ul>
<% trips = Trip.where(driver_id: @driver.id) %>
<% if trips %>
  <% trips.each do |trip| %>
    <li>
      <%= link_to trip.id,  driver_trip_path(@driver.id, trip.id) %>
      <%= trip.date %>
      <%= link_to Driver.find_by(id: trip.driver_id).name, driver_path(@driver.id) %>
      <%= link_to Passenger.find_by(id: trip.passenger_id).name, passenger_path(Passenger.find_by(id: trip.passenger_id).id) %>
      <%= trip.cost %>
      <%= trip.rating %>
      <%= link_to "Edit", edit_driver_trip_path(driver_id: @driver.id, id: trip.id), method: :get %>
      <%= link_to "Delete", driver_trip_path(driver_id: @driver.id, id: trip.id), method: :delete %> 
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to "Edit Driver", edit_driver_path(@driver.id) %>
<%= link_to "Back to All Drivers", drivers_path %>
<%= link_to "Delete #{@driver.name}", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure?" }%>

